<h1 class="ui center aligned icon header", align="center" >
  <i class="circular users icon"></i>
  Welcome to Netpost
</h1>

  <div align="center"><button class="ui button"><%= link_to "Login",  new_session_path %></button></div>
  <div align="center"><button class="ui button"><%= link_to "Create Account",  new_user_path %></button></div>
